.lego-attention--bad-news, .lego-attention{
	display:none;
}

.main-container{
	height: 100%;
}

.inner-container{
	width:100%;
}

.beta {
	top: -0.9em;
	font-size: 50%;
}

.lego-dialog{
	position: absolute;
	z-index: 1000;
	top:30px;
}

#mask {
	opacity: 0.8;
	z-index: 999;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
}
