.lego-attention--bad-news, .lego-attention{
	display:none;
}

.main-container{
	height: 100%;
}

.inner-container{
	width:100%;
}

.beta {
	top: -0.9em;
	font-size: 50%;
}

.lego-dialog{
	position: absolute;
	z-index: 1000;
	top:30px;
}
